<template>
  <div class="log">
    <div class="leftFill"></div>
    <div class="rightFill">
      <div class="verticalFiller" />
      <div class="loginForm">
        <div class="comment-content-form-add">
          <input type="text" placeholder="Ton username..." v-model="formUsername" />
          <input type="password" placeholder="Ton mdp" v-model="formPassword" />
          <a href="#" @click="send">Envoyer</a>
          <p @click="goToRegister">Vous n'avez pas de profil? créez-un ici</p>
        </div>
      </div>

      <div class="verticalFiller" />
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "login",
  data() {
    return {
      formUsername: "",
      formPassword: ""
    };
  },
  methods: {
    goToRegister(){
            this.$router.push({ name: "register" });

    },
    async send(e) {
      let config = {
        auth: { username: this.formUsername, password: this.formPassword }
      };

      let data = { HTTP_CONTENT_LANGUAGE: self.language };

      const reponse = await axios.post(
        "http://localhost:3000/login",
        data,
        config
      );

      let token = reponse.data.token;

      if(token != null || token != undefined)
      {
        this.$router.push({ name: 'home' });
      }
      this.$store.dispatch("JavaWebToken/getJWT",  token);
     
      this.resetField();
    },
    resetField() {
      this.formUsername = "";
      this.formPassword = "";
    }
  }
};
</script>

<style scoped>
.log {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.verticalFiller {
  height: 30%;
}
.leftFill {
  width: 60vw;
  height: 100%;
  background-image: url("https://wallpapertag.com/wallpaper/full/3/4/f/153679-halo-wallpaper-hd-1920x1080-for-htc.jpg");
  background-position: center;
  background-size: cover;
}
.loginForm {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 40%;
}

.rightfill {
  width: 40vw;
  height: 100%;
  background-color: beige;
}

p {
  margin: 0px;

  padding: 0px;
}

.comment-content-form-add {
  display: flex;
  flex-direction: column;
}
.comment-content-form-add input {
  padding: 10px;
  padding-left: 20px;
  background-color: #cdd8dc;
  border-style: none;
  border: #9b9b9b solid 1px;
  margin-bottom: 10px;
}

.comment-content-form-add a {
  float: right;
  background-color: #167dac;
  padding: 8px;
  margin-top: 10px;
  width: 60px;
}

@media all and (max-width: 768px) {
  .leftFill {
    width: 0px;
  }
  .loginForm
  {
    width: 100vw;
  }
}
</style>