<template>
  <div class="log">
    <div class="leftFill"></div>
    <div class="rightFill">
      <div class="verticalFiller" />
      <div class="loginForm">
        <div class="comment-content-form-add">
          <input type="text" placeholder="Ton username..." v-model="formUsername" />
          <input type="text" placeholder="Ton email..." v-model="formEmail" />
          <input type="password" placeholder="Ton mdp..." v-model="formPassword" />
          <input type="text" placeholder="Ton nom..." v-model="formName" />
          <input type="text" placeholder="Ton prenom..." v-model="formPrename" />
          <input type="date" placeholder="Ta date de naissance..." v-model="formBirthdate" />
          <a href="#" @click="send">Creer son profil</a>
        </div>
      </div>

      <div class="verticalFiller" />
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "login",
  data() {
    return {
      formUsername: "",
      formPassword: "",
      formEmail: "",
      formName: "",
      formPrename: "",
      formBirthdate: ""
    };
  },
  methods: {
    async send(e) {
      if (
        this.formPrename == "" ||
        this.formBirthdate == "" ||
        this.formUsername == "" ||
        this.formPassword == "" ||
        this.formEmail == "" ||
        this.formName == ""
      ) {
        alert("il manque des données cruciales!!1!!");
      } else {
        let config = {
          auth: { username: this.formUsername, password: this.formPassword }
        };

        let data = {
          email: this.formEmail,
          name: this.formName,
          firstname: this.formPrename,
          birthdate: this.formBirthdate
        };

        const reponse = await axios.post(
          "http://localhost:3000/register",
          data,
          config
        );

        let token = reponse.data.token;
        this.$store.dispatch("JavaWebToken/getJWT", token);

              this.$router.push({ name: "home" }).catch(err => {});

      }
    }
  }
};
</script>

<style scoped>
.log {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.verticalFiller {
  height: 30%;
}
.leftFill {
  width: 60vw;
  height: 100%;
  background-image: url("https://wallpapertag.com/wallpaper/full/3/4/f/153679-halo-wallpaper-hd-1920x1080-for-htc.jpg");
  background-position: center;
  background-size: cover;
}
.loginForm {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 40%;
}

.rightfill {
  width: 40vw;
  height: 100%;
  background-color: beige;
}

p {
  margin: 0px;

  padding: 0px;
}

.comment-content-form-add {
  display: flex;
  flex-direction: column;
}
.comment-content-form-add input {
  padding: 10px;
  padding-left: 20px;
  background-color: #cdd8dc;
  border-style: none;
  border: #9b9b9b solid 1px;
  margin-bottom: 10px;
}

.comment-content-form-add a {
  float: right;
  background-color: #167dac;
  padding: 8px;
  margin-top: 10px;
  width: 60px;
}
</style>