<template>
  <div class="log">
    <div class="leftFill"></div>
    <div class="rightFill">
      <div class="verticalFiller" />
      <div class="loginForm">
        <div
          class="comment-content-form-add"
          v-if="this.$store.state.JavaWebToken.JWT != '' && this.$store.state.JavaWebToken.JWT != undefined"
        >
          <h2>Poste un review</h2>
          <input type="text" placeholder="Titre de ton review" v-model="formTitle" />
          <input type="text" placeholder="URL de ton image" v-model="formImageUrl" />
          <input type="text" placeholder="Titre du jeu" v-model="formGameTitle" />
          <input type="text" placeholder="Cotte du review" v-model="formReviewScore" />
          <select v-model="formGameCategory">
            <option value="RTS">RTS</option>
            <option value="FPS-TPS">FPS-TPS</option>
            <option value="MMO">MMO</option>
            <option value="RPG">RPG</option>
          </select>
          <textarea
            name="comment"
            id="add-comment-text"
            cols="30"
            rows="3"
            placeholder="Ton review ici ..."
            v-model="formCommentText"
          ></textarea>
          <input id="privateCheckbox" type="checkbox" value="true" v-model="formPrivate" />
          <label for="privateCheckbox">review privé</label>
          <a href="#" @click="postReview">Envoyer</a>
        </div>
        <div v-else>Vous devez vous connecter pour poster un review</div>
      </div>

      <div class="verticalFiller" />
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "login",
  data() {
    return {
      formTitle: "",
      formImageUrl: "",
      formGameTitle: "",
      formReviewScore: "",
      formGameCategory: "",
      formCommentText: "",
      formPrivate: false
    };
  },
  async mounted(){
      let token = "Bearer " + this.$store.state.JavaWebToken.JWT;
    let config = {
      headers: { authorization: token }
    };

    const reponse = await axios.get("http://localhost:3000/profile/me", config);
    if (!reponse.data.isAdmin) {
      alert("Vous devez être admin pour ajouter un review")
      this.$router.push({name:'home'})
      this.$router.go()
    } 
  },
  methods: {
    setGameType(gameType) {
      this.formGameCategory = gameType;
    },
    resetField() {
      (this.formTitle = ""),
        (this.formImageUrl = ""),
        (this.formGameTitle = ""),
        (this.formReviewScore = ""),
        (this.formGameCategory = ""),
        (this.formCommentText = ""),
        (this.formPrivate = false);
    },
    async postReview() {
      let token = "Bearer " + this.$store.state.JavaWebToken.JWT;
      let data = {
        name: this.formGameTitle,
        image: this.formImageUrl,
        categorie: this.formGameCategory,
        title: this.formTitle,
        note: this.formReviewScore,
        review: this.formCommentText,
        isPrivate: this.formPrivate
      };
      let config = {
        headers: { authorization: token }
      };

      const reponse = await axios.post(
        "http://localhost:3000/addGame",
        data,
        config
      );

      alert("Le review a été envoyé");
      this.resetField();
    }
  }
};
</script>

<style scoped>
.log {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.verticalFiller {
  height: 30%;
}
.leftFill {
  width: 60vw;
  height: 100%;
  background-image: url("https://wallpapercave.com/wp/wp2217916.jpg");
  background-position: center;
  background-size: cover;
}
.loginForm {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 40%;
}

.rightfill {
  width: 40vw;
  height: 100%;
  background-color: beige;
}

p {
  margin: 0px;

  padding: 0px;
}

.comment-content-form-add {
  display: flex;
  flex-direction: column;
}
.comment-content-form-add input {
  padding: 10px;
  padding-left: 20px;
  background-color: #cdd8dc;
  border-style: none;
  border: #9b9b9b solid 1px;
  margin-bottom: 10px;
}

.comment-content-form-add a {
  float: right;
  background-color: #167dac;
  padding: 8px;
  margin-top: 10px;
  width: 60px;
}

@media all and (max-width: 768px) {
  .leftFill {
    width: 0px;
  }
  .loginForm {
    width: 100vw;
  }
}
</style>

