<template>
  <div class="content-grid">
    <div class="item" v-for="jeu in games" v-bind:key="jeu._id">
      <Item :id="jeu._id" :bannerPath="jeu.image" :title="jeu.title" :score="jeu.note" />
    </div>
  </div>
</template>

<script>
import Item from "@/components/commons/content/grid/Item.vue";
import axios from "axios";
import ArticleModel from "@/models/article";

export default {
  name: "ContentGrid",
  components: {
    Item
  },
  data() {
    return {
      games: null
    };
  },
  async mounted() {
    var reponse = null;
    let config = {};
    if (this.$store.state.JavaWebToken.JWT != "" && this.$store.state.JavaWebToken.JWT != undefined) {
      let token = "Bearer " + this.$store.state.JavaWebToken.JWT;
      config = {
        headers: { authorization: token }
      }
    } else {
      config = {}
    }

    
    if (this.$route.params.categorie != null) {
      reponse = await axios.get(
        `http://localhost:3000/games/` + this.$route.params.categorie,
        config
      );
    }else if(this.$router.currentRoute.fullPath == "/privateTests"){
      reponse = await axios.get("http://localhost:3000/privateGames", config);
    } else {
      reponse = await axios.get("http://localhost:3000/allGames", config);
    }
    this.games = reponse.data;
  },
  methods: {
    getToken() {
      if (
        this.$store.state.JavaWebToken.JWT != "" &&
        this.$store.state.JavaWebToken.JWT != undefined
      ) {
        return this.$store.state.JavaWebToken.JWT;
      } else {
        return null;
      }
    }
  }
};
</script>

<style>
.content-grid {
  display: flex;
  flex-wrap: wrap;
  color: white;

  justify-content: center;
  min-width: calc(100vw - 240px);
  padding-left: 20px;
  padding-right: 20px;
}

.content-grid .item {
  width: calc(25% - 40px);
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media all and (max-width: 768px) {
  .content-grid .item {
    width: calc(100% - 40px);
  }
}

@media all and (max-width: 1024px) and (min-width: 769px) {
  .content-grid .item {
    width: calc(40% - 40px);
  }
}
</style>
