<template>
  <div class="content-grid-item"
    @mouseover="isHover = true"
    @mouseleave="isHover = false"
    @click="goToNews"
  >
    <div class="image" :style="applyCustomStyle">
      <div class="note">{{score}}</div>
      <div class="overlay" v-if="isHover">
        
      </div>
    </div>
    <div :class="`title ${isHover ? 'hovered' : ''}`">
      {{this.title}}
    </div>
    
  </div>
</template>

<script>
export default {
  name: 'ContentGridItem',
  props: {
    id: String,
    title: String,
    bannerPath: String,
    score: String, 
  },
  data() {
    return {
      imageUrl: null,
      isHover: false,
    };
  },
  computed: {
    imageStyle() {
      if (this.imageUrl) {
        return { 'background-image': `url("${this.imageUrl}")` };
      }
      return { 'background-color': 'red' };
    },
    applyCustomStyle() {
      return this.imageStyle;
    },
  },

    methods: {
      goToNews() {
        this.$router.push({ name: 'news', params: { id: this.id } });
      },
  },
  mounted() {
    this.imageUrl = this.bannerPath;
  },
};
</script>

<style>
  .content-grid-item {
    color: white;
    background-color: black;
    background-size: cover;
  }

  .content-grid-item:hover {
    cursor: pointer;
  }

  .content-grid-item .image {
    background-position: center;
    padding-bottom: 300px;
    position: relative;
  }

  .content-grid-item .image .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.363);
  }
  .image{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    background-size: cover;
  }
  .title {
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    height: 80px;
    font-size: 23px;
    font-weight: bold;
  }
  .note{
    background-color: #3B3F48;
    width:fit-content;
    padding: 0.5em;
    font-size: 1.5em;
    padding-bottom: 0.2em;

  }

 .title.hovered {
    color: rgba(255, 255, 255, 0.637);
  }
</style>
