<template>
  <div class="comment">
    <button @click="toggleRole" class="button">Changer le role</button>
    <div class="comment-header">
      <span class="username">
        {{username}}:
        <span v-if="isAdmin">Admin</span>
        <span v-else>User</span>
      </span>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Comment",
  data() {
    return {};
  },
  props: {
    username: String,
    isAdmin: Boolean
  },
  methods: {
    async toggleRole(e) {
      let token = "Bearer " + this.$store.state.JavaWebToken.JWT;
      let config = {
        headers: { authorization: token }
      };

      let data = {
        'foo': "bar"
      };
      const reponse = await axios.put(
        "http://localhost:3000/profile/" + this.username,
        data,
        config
      );
      e.preventDefault();
      this.$router.go();
    }
  }
};
</script>

<style scoped>
.comment {
  background-color: white;
  padding: 20px;
}

.comment .comment-header {
  margin-bottom: 20px;
}

.comment .comment-header > .username {
  color: #40565e;
  font-weight: bold;
}

.button {
  float: right;
  height: 25px;
}
</style>
