<template>
  <div class="log">
    <div class="leftFill"></div>
    <div class="rightFill">
      <div class="verticalFiller" />
      <div class="loginForm">
        <div class="comment-content-form-add">
          <p>Rôle: {{formRole}}</p>
          <p>Username: {{formUsername}}</p>
          <p>email: {{formEmail}}</p>
          <p>mdp: {{formPassword}}</p>
          <p>nom: {{formName}}</p>
          <p>prenom: {{formPrename}}</p>
          <p>date de naissance: {{formBirthdate}}</p>
          <a @click="goToAdminPanel" v-if="formRole == 'Administrateur'" >Admin panel</a>
        </div>
      </div>

      <div class="verticalFiller" />
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "login",
  data() {
    return {
      formRole: "role",
      formUsername: "username",
      formPassword: "password",
      formEmail: "email",
      formName: "name",
      formPrename: "firstname",
      formBirthdate: "birth"
    };
  },
  async mounted() {
    let token = "Bearer " + this.$store.state.JavaWebToken.JWT;
    let config = {
      headers: { authorization: token }
    };

    const reponse = await axios.get("http://localhost:3000/profile/me", config);

    this.formName = reponse.data.name;
    this.formPrename = reponse.data.firstname;
    this.formPassword = reponse.data.password;
    this.formUsername = reponse.data.username;
    this.formBirthdate = reponse.data.birthdate;
    this.formEmail = reponse.data.email;
    let isAdmin = reponse.data.isAdmin;
    if (isAdmin) {
      this.formRole = "Administrateur";
    } else {
      this.formRole = "Membre";
    }
  },
  methods: {
    resetField() {
      this.formUsername = "";
      this.formPassword = "";
    },
    goToAdminPanel() {
      this.$router.push({ name: "adminPanel" });
    }
  }
};
</script>

<style scoped>
.log {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.verticalFiller {
  height: 30%;
}
.leftFill {
  width: 60vw;
  height: 100%;
  background-image: url("https://wallpapertag.com/wallpaper/full/3/4/f/153679-halo-wallpaper-hd-1920x1080-for-htc.jpg");
  background-position: center;
  background-size: cover;
}
.loginForm {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 40%;
}

.rightfill {
  width: 40vw;
  height: 100%;
  background-color: beige;
}

p {
  margin: 0px;

  padding: 0px;
}

.comment-content-form-add {
  display: flex;
  flex-direction: column;
}
.comment-content-form-add input {
  padding: 10px;
  padding-left: 20px;
  background-color: #cdd8dc;
  border-style: none;
  border: #9b9b9b solid 1px;
  margin-bottom: 10px;
}

.comment-content-form-add a {
  float: right;
  background-color: #167dac;
  padding: 8px;
  margin-top: 10px;
  width: 60px;
}

@media all and (max-width: 768px) {
  .leftFill {
    width: 0px;
  }
  .loginForm
  {
    width: 100vw;
  }
}
</style>