<template>
    <div class="home">
      <ContentGrid />
      <Categories />
    </div>
</template>

<script>
import ContentGrid from '@/components/commons/content/grid/Grid.vue';
import Categories from '@/components/commons/Categories.vue';

export default {
  name: 'HomeIndex',
  components: {
    ContentGrid,
    Categories,
  },
  data() {
    return {
      truc: { title: 'machin' },
    };
  },
};
</script>

<style scoped>
    .home {
        display: flex;
        flex-direction: row;
        background-color: #3B3F48;
        width: 100%;
        min-height: 100%;

    }
</style>
