<template>
  <div class="content-comment">
    <div class="content-comment-header" v-if="comments">{{ count() }} Commentaires</div>
    <div class="content-comment-container" v-if="comments">
      <div class="content-comment-item" v-for="comment in comments" v-bind:key="comment.id">
        <Comment :date="comment.date" :username="comment.author.username" :text="comment.comment" :isAdmin="isAdmin" :commentId="comment._id"/>
      </div>
      <div
        class="comment-content-form-add"
        v-if="this.$store.state.JavaWebToken.JWT != '' && this.$store.state.JavaWebToken.JWT != undefined"
      >
        <textarea
          name="comment"
          id="add-comment-text"
          cols="30"
          rows="3"
          placeholder="Commente par ici ..."
          v-model="formCommentText"
        ></textarea>
        <a href="#" @click="send">Envoyer</a>
      </div>
      <div class="comment-content-form-add" v-else>
          Connectez-vous pour laisser un commentaire
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Comment from "@/components/commons/comment/Comment.vue";

export default {
  name: "ContentComment",
  components: {
    Comment
  },
  data() {
    return {
      comments: null,
      formCommentText: "",
      isAdmin: false,
    };
  },
  async mounted() {
    const reponse = await axios.get(
      "http://localhost:3000/comments/" + this.$route.params.id
    );
    this.comments = reponse.data;

    let token = "Bearer " + this.$store.state.JavaWebToken.JWT;
    let config = {
      headers: { authorization: token }
    };

    const response = await axios.get("http://localhost:3000/profile/me", config);

    this.isAdmin = response.data.isAdmin;
  },
  methods: {
    count() {
      return this.comments.length;
    },
    async send(e) {
      const comment = {
        comment: this.formCommentText
      };
      let token = "Bearer " + this.$store.state.JavaWebToken.JWT;
      let config = {
        headers: { authorization: token }
      };
      const reponse = await axios.post(
        "http://localhost:3000/comment/" + this.$route.params.id,
        comment,
        config
      );
      this.resetField();
      e.preventDefault();
      this.$router.go();
    },
    resetField() {
      this.formCommentText = "";
    }
  }
};
</script>

<style scoped>
.content-comment .content-comment-header {
  background-color: #40565e;
  color: white;

  padding: 10px;
  padding-left: 20px;

  font-size: 1.5em;
}

.content-comment .content-comment-container {
  padding: 40px;
}

.content-comment .content-comment-item {
  margin-top: 10px;
}

.content-comment .comment-content-form-add {
  margin-top: 40px;
  margin-bottom: 40px;

  display: flex;
  flex-direction: column;
}

.content-comment .comment-content-form-add input {
  width: 20%;
  padding: 10px;
  padding-left: 20px;
  background-color: #cdd8dc;
  border-style: none;
  border: #9b9b9b solid 1px;
  margin-bottom: 10px;
}

.content-comment .comment-content-form-add textarea {
  resize: none;
  width: 100%;

  padding: 20px;

  box-sizing: border-box;

  background-color: #cdd8dc;
}

.content-comment .comment-content-form-add a {
  float: right;
  background-color: #167dac;
  padding: 8px;
  margin-top: 10px;
  width: 60px;
}
</style>
