<template>
  <div class="content-header">
    <div class="content-header-title">
      <h1>{{ title }}</h1>
    </div>
    <ContentInfo  
    :note="note"
    :nomDeJeu="nomDeJeu"
    :categorie="categorie" />

    <div class="content-header-image" :style="imageStyle"></div>
    <div class="content-header-subtitle">
      <div class="author">Par {{author}}</div>
      <div class="date">Le {{ createdDate | moment("dddd, MMMM Do YYYY") }}</div>
    </div>
  </div>
</template>

<script>
import ContentInfo from "@/components/commons/content/ContentInfo.vue";

export default {
  name: "ContentHeader",
  components: {
    ContentInfo
  },
  props: {
    title: String,
    imagePath: String,
    author: String,
    createdDate: String,
    note: String,
    nomDeJeu: String,
    categorie: String
  },
  data() {
    return {
      imageUrl: null
    };
  },
  computed: {
    imageStyle() {
      if (this.imageUrl) {
        return { "background-image": `url("${this.imageUrl}")` };
      }
      return { "background-color": "red" };
    }
  },
  mounted() {
    this.imageUrl =this.imagePath;
  }
};
</script>

<style scoped>
.content-header {
  width: 100%;
}

.content-header .content-header-title {
  text-align: center;
  font-size: 30px;
}

.content-header .content-header-image {
  /*background-image: url("~@/assets/image_article_1.jpg");*/
  background-position: center;
  background-size: cover;
  padding-top: 600px;
}

.content-header .content-header-subtitle {
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;

  font-size: 1.5em;
  font-weight: bold;

  display: flex;
  justify-content: space-between;
}
</style>
