<template>
  <div class="comment">
    <button v-if="isAdmin == true" @click="deleteComment" class="button">X</button>
    <div class="comment-header">
      Par
      <span class="username">{{username}}</span>
      le {{ date }}
    </div>
    <div class="comment-text">{{text}}</div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Comment",
  data() {
    return {};
  },
  props: {
    date: String,
    username: String,
    text: String,
    isAdmin: Boolean,
    commentId: String
  },
  methods: {
    async deleteComment(e) {
      let token = "Bearer " + this.$store.state.JavaWebToken.JWT;
      let config = {
        headers: { authorization: token }
      };
      const reponse = await axios.delete(
        "http://localhost:3000/jeux/" +
          this.$route.params.id +
          "/comment/" +
          this.commentId,
        config
      );
      e.preventDefault();
      this.$router.go();
    }
  }
};
</script>

<style scoped>
.comment {
  background-color: white;
  padding: 20px;
}

.comment .comment-header {
  margin-bottom: 20px;
}

.comment .comment-header > .username {
  color: #40565e;
  font-weight: bold;
}

.button {
  float: right;
}
</style>
