<template>
  <div class="header-menu">
    <div class="links">
      <a @click="goToWrite" v-if="getToken != null">ÉCRIRE UN TEST</a>
      <a @click="goToProfile" v-if="getToken != null">MY PROFILE</a>
      <a @click="logout" v-if="getToken != null">LOGOUT</a>
      <a @click="goToLogin" v-else>LOGIN</a>
    </div>
  </div>
</template>

<script>
export default {
  name: "HeaderMenu",
  computed: {
    getToken() {
      try {
        if (
          this.$store.state.JavaWebToken.JWT != undefined &&
          this.$store.state.JavaWebToken.JWT != ""
        )
          return this.$store.state.JavaWebToken.JWT;
        else return null;
      } catch (e) {}
    }
  },
  methods: {
    goToHome() {
      this.$router.push({ name: "home" }).catch(err => {});
    },
    goToWrite() {
      this.$router.push({ name: "writeReview" });
    },
    goToProfile() {
      this.$router.push({ name: "profile" });
    },
    goToLogin() {
      this.$router.push({ name: "login" });
    },
    logout() {
      this.$store.dispatch("JavaWebToken/getJWT", "");
      
      
      if (this.$router.currentRoute.fullPath == "/profile" || this.$router.currentRoute.fullPath =="/writeReview" || this.$router.currentRoute.fullPath =="/privateTests"|| this.$router.currentRoute.fullPath =="/adminPanel") {
        this.$router.push({ name: "home" }).catch(err => {});
      }
      this.$router.go();
    }
  }
};
</script>

<style scoped>
.header-menu {
  display: flex;
  align-items: center;
}

.header-menu > .user {
  margin-left: 20px;
  margin-right: 5px;
  background-color: cornflowerblue;
  padding: 20px;

  border-radius: 60px;
}

.header-menu > .links a {
  margin-left: 10px;
  margin-right: 10px;

  font-size: 20px;
}
</style>
