
<template>
  <div class="categories">
    <div class="item" v-for="genre in genresList" v-bind:key="genre.genre">
      <categorieItem :categorie="genre.genre" />
    </div>
    <div class="item">
      <div class="privateTests" v-if="getToken != null" @click="goToPrivateTests">TESTS PRIVÉS</div>
    </div>
  </div>
</template>

<script>
import categorieItem from "@/components/commons/CategorieItem.vue";
export default {
  components: {
    categorieItem
  },
  data() {
    return {
      genresList: [
        { genre: "RTS" },
        { genre: "FPS-TPS" },
        { genre: "MMO" },
        { genre: "RPG" }
      ]
    };
  },
  computed: {
    getToken() {
      try {
        if (
          this.$store.state.JavaWebToken.JWT != undefined &&
          this.$store.state.JavaWebToken.JWT != ""
        )
          return this.$store.state.JavaWebToken.JWT;
        else return null;
      } catch (e) {}
    }
  },
  methods: {
    goToPrivateTests() {
      this.$router.push({ name: "privateTests" });
      this.$router.go();
    }
  }
};
</script>

<style>
.categories {
  padding-top: 2em;
  min-width: 200px;
  background-color: #2c2c2c;
}
.privateTests {
  padding: 10px;
  font-size: 1.2em;
  color: beige;
}
</style>