<template>
  <div class="log">
      <div class="loginForm">
        <div class="comment-content-form-add">
          <h2>Modifiez les roles des utilisateurs</h2>
          <div class="content-user-item" v-for="user in users" v-bind:key="user.username">
            <User
              :username="user.username"
              :isAdmin="user.isAdmin"
            />
          </div>
        </div>
      </div>

  </div>
</template>

<script>
import axios from "axios";
import User from "@/components/commons/user/User.vue";

export default {
  name: "adminPanel",
  components: {
    User
  },
  data() {
    return {
      users: []
    };
  },
  async mounted() {
    let token = "Bearer " + this.$store.state.JavaWebToken.JWT;
    let config = {
      headers: { authorization: token }
    };

    const reponse = await axios.get("http://localhost:3000/profile/me", config);
    if (!reponse.data.isAdmin) {
      this.$router.push({ name: "home" });
      this.$router.go();
    }

    const reponse2 = await axios.get("http://localhost:3000/allUsers", config);
    this.users = reponse2.data;
  },
  methods: {
    resetField() {
      this.formUsername = "";
      this.formPassword = "";
    }
  }
};
</script>

<style scoped>
.log {
  margin-top: 225px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.verticalFiller {
  height: 30%;
}

.loginForm {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 40%;
}

.rightfill {
  width: 100vw;
  height: 100%;
  background-color: beige;
}

p {
  margin: 0px;

  padding: 0px;
}

.comment-content-form-add {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.comment-content-form-add input {
  padding: 10px;
  padding-left: 20px;
  background-color: #cdd8dc;
  border-style: none;
  border: #9b9b9b solid 1px;
  margin-bottom: 10px;
}

.comment-content-form-add a {
  float: right;
  background-color: #167dac;
  padding: 8px;
  margin-top: 10px;
  width: 60px;
}

</style>